:root{

}

.list{
    list-style: none;
}
.link{
    text-decoration: none;
}
.body{
    font-family: "Open Sans",sans-serif;
}
.header-link{
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;

}
.main-button{
font-weight: bold;
font-size: 16px;
line-height: 30px;
}